:root {
	--primary-color: rgb(108, 228, 108);
	--primary-color-hover: rgb(146, 238, 146);
	--primary-font: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
}

h1 {
	margin: 0;
}

.App {
	max-width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.main-header {
	color: black;
	padding: 2.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.brand {
	color: var(--primary-color);
	font-size: 5em;
}

.main-section {
	padding: 1.5rem;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
}

.text-bold {
	font-weight: bold;
}

.text-white {
	color: white;
}

.text-grey {
	color: grey;
}

.text-md {
	font-size: 1.6em;
}

.text-lg {
	font-size: 2em;
}

.btn-primary {
	display: inline-block;
	background-color: var(--primary-color);
	border: none;
	outline: none;
	color: white;
	padding: 0.5rem 3rem;
	font-size: 1.5em;
	border-radius: 2rem;
	transition: background-color ease 0.5s;
}

.btn-primary:hover {
	background-color: var(--primary-color-hover);
	color: black;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-3 {
	margin-bottom: 0.75rem;
}

.overflow-wrap {
	overflow-wrap: anywhere;
}

.tag {
	background-color: grey;
	border-radius: 0.5rem;
	padding: 5px 10px;
	margin: 0 0 10px 10px;
}

/* @media screen and (max-width: 700px) {
	.App {
		display: flex;
		flex-direction: column;
	}
} */
